body{
    background-color: #efefef;
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-size: 20px;
}
.content{
    background-color: #efefef;
    color: #000;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    font-kerning: auto;
}
.menu{
    margin-top: 40px;
    background-color:  #fff;
    box-shadow: 0 0 5px #8FDCEF
}
ol.menu-list{
    margin: 0;
    padding: 10px;
}
ol.menu-list li{
    display: inline;
}
ol.menu-list li a{
    margin-right: 10px;
    margin-left: 10px;
}
.menu-list-box{
    display: flex;
    justify-content: space-evenly;
}
.menu-list-box li a{
    cursor: pointer;
}
.header a{
    color: #38AECC;
    text-decoration: none
}
.about{
    background-color: #fff;
    color: black;
    line-height: 250%;
    margin-top: 80px;
    margin-bottom: 80px;
}
.profile{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 5px #8FDCEF
}
.hero{
    padding-left: 20px;
    padding-right: 20px;
    width: 60%;
    line-height: normal;
}
h1 {
    font-size: 250%;
}
.hero .IMKIEE{
    font-size: 100%;
    color: #38AECC;
    margin: 0;
}
.col1{
    width: 50%;
    float: left;
}
.linkedin figure{
    margin: 10px 0 0 10px;
    float: left;
}
.contact{
    font-size: 75%;
}
.col1 ul li, .col2 ul li{
    margin-bottom: 10px;
}
.col1 ul li .title-info, .col2 ul li .title-info{
    color: #757575;
    display: inline-block;
    width: 80px;
}
h1{
    margin: 0;
}
.pic{
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
}
#profile-pic{
    display: block;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    width: 250px;
    margin-left: auto;
}
#linkedin{
    display: block;
    width: 40px;
}
ul{
    margin:0;
    color: black;
    list-style: none;
    padding: 10px;
}
h2{
    margin: 5px;
}
.main-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.main-article li{
    margin-bottom: 10px;
}
.main-col1, .main-col2{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 40px;
    margin-right: 40px;
}
#skills, #education, #employment, #portfolio, #projects, #certifications, #other-courses{
    box-shadow: 0 0 5px #8FDCEF;
    height: fit-content;
    width: 100%;
    margin: 0;
    background: #fff;
    color: black;
    padding: 0px 20px 20px 20px;
    margin-bottom: 40px;
}
.main-titles{
    text-align: center;
}
.main-titles-h2{
    margin: 0;
    display: inline-block;
    position: relative;
    top: -15px;
    box-shadow: 0 0 6px rgba(0,0,0,.3);
    background-color: #38AECC;
    color: white;
    padding: 10px 40px;
    letter-spacing: 0.025em;
}
#portfolio span{
    font-style: italic;
}
.other{
    box-shadow: 0 0 5px #8FDCEF;
    width: 25%;
    height: 100%;
    background: #fff;
    color: black;
    padding: 20px;
}

